################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/odata/csharp/.vs/ODataDemo
